.display{
    background-image:url(/Assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    text-align: center;
}
.section{
    text-align: center;
}
.part1{
    text-align: center;
    background-image: url(/Assets/backgrounds/s_image.jpg);
    color: white;
}