.display{
    background-image:url('../Assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.section{
    text-align: center;
}
.part1{
    text-align: center;
    background-image: url('../Assets/backgrounds/s_image.jpg');
    color: white;
}
h2{
    text-align: center;
}
.row4{
    text-align: center;
    width: 100%;
  height: 300px;
  margin-right: -20px;
  margin-left: -20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px;
}
.part3{
    text-align: center;
}
.part4{
    text-align: center;
    background-image: url('../Assets/backgrounds/c_image.jpg');
}
.part5{
    text-align: center;
}
.par1{
    display: none;
}
/* portfolio styling */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
  }